{% load static %}

<!DOCTYPE html>

<html>

    <head> 

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">


        <title> Bevan Health And Fitness </title>


        <!--Change the bootwatch themes -->
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        

    </head>

    <body>

        <!-- Create Navbar here -->

        {% include 'navbar.html' %}

         <!-- Messages -->
         {% if messages %}
         <div class="alerts-container">
             <ul>
                 {% for message in messages %}
                     <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                 {% endfor %}
             </ul>
         </div>
         {% endif %}

        
        <div class="container">

            <br>

            <!-- Notification messages -->


        <main>
           {% block content %}




           {% endblock %}
         </main>

        </div>

        {% include 'footer.html' %}

        <script src="{% static 'js/app.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        
    </body>


</html>