{% extends 'base.html' %}
{% block content %}
<div class="container bg-light shadow-md p-5 form-layout">
    <!-- Header Section -->
    <h3>Login to your account</h3>
    <hr>

    <!-- Login Form -->
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100 btn-block p-2">
            Login &nbsp; <i class="fa fa-user" aria-hidden="true"></i>
        </button>
    </form>

    <!-- Redirect to Signup -->
    <div class="text-center mt-3">
        <p>Don't have an account?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </div>
</div>
{% endblock %}
