<nav class="navbar navbar-expand-lg bg-primary navbar-dark high-contrast-navbar">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">Bevan Health and Fitness</a>
    
    <!-- Mobile Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <!-- Dashboard Link for Logged-in Users -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'myworkouts' %}">
            My Dashboard <i class="fa fa-home" aria-hidden="true"></i>
          </a>
        </li>
        <!-- Logout Link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user-logout' %}">
            Sign out <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
        <!-- Disabled Link Showing Username -->
        <li class="nav-item">
          <a class="nav-link disabled" tabindex="-1" aria-disabled="true">
            {{ user.username }}
          </a>
        </li>
        {% else %}
        <!-- Register Link for Guests -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <!-- Login Link for Guests -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my-login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
